<div id="orders">
  <table class="table table-striped">
    <thead>
    <tr>
      <th v-for="column in columns"
          @click="sortBy(column)"
          :class="{active: sortKey == column}">
        {{column | capitalize}}
        <span class="arrow" :class="sort_class(column)"></span>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr v-for="order in orders | orderBy sortKey sort ">
      <td><strong>#{{order.order_no}}</strong></td>
      <td>US ${{order.total}}</td>
      <td>{{order.items_count}}</td>
      <td>{{order.date.toDateString()}}</td>
    </tr>
    </tbody>
  </table>
</div>
