<div id="cart">
  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title">Shopping Cart</h3>
    </div>
    <div class="panel-body" v-show="cart_items.length">

      <div class="alert alert-dismissible alert-danger" v-show="!!error_message">
        <button class="close" type="button" data-dismiss="alert">×</button>
        <strong>{{error_message}}</strong>
      </div>

      <table class="table table-striped">
        <tbody>
          <tr v-for="item in items">
            <td><strong>#{{$index+1}}</strong></td>
            <td>{{item.name}}</td>
            <td>US ${{item.price}} x1</td>
            <td>US ${{item.price}}</td>
            <td>
              <span class="remove" @click="remove_from_cart(item.id)">x</span>
            </td>
          </tr>

          <tr>
            <td></td><td></td>
            <td><strong>Grand Total</strong></td>
            <td><strong>US ${{total_price}}</strong></td>
            <td></td>
          </tr>

        </tbody>
      </table>
      <div class="row">
        <a href="/shop" class="btn btn-info">Continue shopping!</a>
        <div class="pull-right">
          <button class="btn btn-success checkout" @click="show_payment = true">Checkout</button>
        </div>
      </div>

      <div class="row" v-show="show_payment">
        <form class="col-md-8 col-md-offset-2" @submit="create_order">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <%= label_tag :first_name %>
                <%= text_field_tag :first_name, nil, class: 'form-control', 'v-model': 'user.first_name' %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <%= label_tag :last_name %>
                <%= text_field_tag :last_name, nil, class: 'form-control', 'v-model': 'user.last_name' %>
              </div>
            </div>
          </div>

          <div class="form-group">
            <%= label_tag :card_no %>
            <%= text_field_tag :card_no, nil, autofocus: true, class: 'form-control', 'v-model': 'user.card', required: true %>
          </div>

          <input type="submit" class="form-control btn btn-success" value="Confirm Order">
        </form>
      </div>
    </div>
    <div class="panel-body" v-show="!cart_items.length && !shopping_done">
      Cart Empty!  <a href="/shop" class="btn btn-success btn-lg">Go ahead and do some shopping!</a>
    </div>

    <div class="panel-body" v-show="!cart_items.length && shopping_done">
      Congrats!  <a href="/profile" class="btn btn-success btn-lg">Checkout your orders!</a>
    </div>
  </div>
</div>