<div id="products">
  <div class="row book-search">
    <div class="col-md-11">
      <input type="search" class="form-control form-group-lg" v-model="search" placeholder="Hit the keyboard and Filter the books">
    </div>

    <div class="col-md-1" v-show="cart.length">
      <a class="btn btn-success btn-group-lg" href="<%= cart_shop_path %>">View Cart <span class="view-count badge">{{cart.length}}</span></a>
    </div>
  </div>


  <table class="table table-striped">
    <thead>
    <tr>
      <th v-for="column in columns"
          @click="sortBy(column)"
          :class="{active: sortKey == column}">
        {{column | capitalize}}
        <span class="arrow" :class="sort_class(column)"></span>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr v-for="product in products | filterBy search in 'name' | orderBy sortKey sort ">
      <td><strong>{{product.name}}</strong></td>
      <td>{{product.description}}</td>
      <td>US ${{product.price}}</td>
      <td>
        <button v-show="product.status && !in_cart(product.id)" @click="add_to_cart(product.id)" class="btn btn-info btn-xs">Buy Now</button>
        <button v-show="in_cart(product.id)" @click="remove_from_cart(product.id)" class="btn btn-danger btn-xs">Remove</button>
        <span class="label label-warning" v-show="!product.status">Unavilable!</span>
      </td>
    </tr>
    </tbody>
  </table>
</div>
