= form_for([:admin, @product], html: { class: 'form-horizontal', role: 'form' }) do |f|
  - if @product.errors.any?
    .alert.alert-danger.alert-dismissable role='alert'
      button.close type='button' data-dismiss='alert'
        span aria-hidden='true'
          | &times;
        span.sr-only
          | Close
      h4= "#{pluralize(@product.errors.count,'error')} prohibited this product from being saved:"
      ul
        - @product.errors.full_messages.each do |msg|
          li= msg
  .form-group
    = f.label :name, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :name, class: 'form-control'
  .form-group
    = f.label :price, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.number_field :price, class: 'form-control'
  .form-group
    = f.label :description, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_area :description, class: 'form-control'
  /.form-group
    = f.label :status, class: 'col-sm-2 control-label'
    .col-sm-10
      /= f.select :status, options_for_select({'Enabled': 1, 'Disabled': 0}) class: 'form-control'
      = f.radio_button :status, 1
  .form-group
    = f.label :status, 'Enabled', class: 'col-sm-2 control-label'
    .col-sm-10
      = f.radio_button :status, 1, class: 'form-control'
  .form-group
    = f.label :status, 'Disabled', class: 'col-sm-2 control-label'
    .col-sm-10
      = f.radio_button :status, 0, class: 'form-control'
  .form-group
    .col-sm-offset-2.col-sm-10
      = f.submit class: 'btn btn-primary'
