.page-header
  = link_to new_admin_product_path, class: 'btn btn-primary' do
    span.glyphicon.glyphicon-plus
    |  New Product
  h1
    | Listing products

.table-responsive
  table.table.table-striped.table-bordered.table-hover
    thead
      tr
        th Name
        th Price
        th Description
        th Status
        th Created
        th
        th
    tbody
      - @products.each do | product |
        tr
          td= product.name
          td= product.price
          td= product.description
          td
            - if product.status == 1
              span.label.label-info Enabled
            - else
              span.label.label-warning Disabled
          td= product.created_at.to_formatted_s(:short)
          td= link_to 'Edit', edit_admin_product_path(product)
          td= link_to 'Destroy', admin_product_path(product), method: :delete, data: { confirm: 'Are you sure?' }
