/*
 *= require bootstrap
 *= require_self
 */


th.active .arrow {
    opacity: 1;
}

.arrow {
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 0;
    margin-left: 5px;
    opacity: 0.66;
}

.arrow.asc {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 4px solid #0082ff;
}

.arrow.dsc {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #0082ff;
}

th, .remove {cursor: pointer}

.book-search { margin: 20px 0;}

/*Bootstrap fix*/
.page-header a.btn {
    float: right;
}

.page-header a.btn + a.btn {
    margin-right: 8px;
}

input[type="radio"], input[type="checkbox"] {
    width: initial;
    height: initial;
    margin-top: 7px;
}