doctype html
html
  head
    title CrossBooks | Ultimate Book Shop
    = csrf_meta_tags

    = stylesheet_link_tag 'application', media: 'all'


  body
    nav.navbar.navbar-default
      .container
        .navbar-header
          a.navbar-brand href='/' CrossBooks
        ul.nav.navbar-nav
          li= link_to 'Shop', shop_path
          li= link_to cart_shop_path do
            ' View Cart
            span.badge.nav-cart-items<= cart_items.size
        ul.nav.navbar-nav.navbar-right
          - if customer_signed_in?
            .navbar-text= "Welcome #{current_customer.first_name}"
            li= link_to 'My Orders', profile_path
            li= link_to 'Logout', logout_path, method: :delete
          - elsif admin_signed_in?
            .navbar-text= "Welcome Admin (#{current_admin.email})"
            li= link_to 'Products', admin_products_path
            li= link_to 'Logout', destroy_admin_session_path, method: :delete
          - else
            li= link_to 'Login', login_path
            li= link_to 'Register', register_path

    main.container
      - if notice
        .alert.alert-dismissible.alert-success
          button.close type="button" data-dismiss="alert" ×
          = notice
      - if alert
        .alert.alert-dismissible.alert-warning
          button.close type="button" data-dismiss="alert" ×
          = alert

      = yield

    = javascript_include_tag 'application'